<!doctype html>
<title>Sentiment Analysis</title>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<link rel="icon" href="https://www.clipartmax.com/png/middle/150-1509597_netowl-entity-extraction-and-entity-analytics-for-big-sentiment-icon.png">
<style type="text/css">
html,body{
    margin:0; padding:0; box-sizing: border-box; height: 100%; overflow: hidden;
}
body {font-family: "Lato", sans-serif, height: 100%}

</style>
<body>
<!-- Navbar -->
<ul>
  <li style="background-color: #ff3399"><a class="active" href="#home">Sentiment Analysis</a></li>
  <li><a href="#contact">Contact: ptnbvr@gmail.com</a></li>
  <li><a href="#about">Phone No: 9876543210</a></li>
</ul>
<div class="bgimg">
<div class="page">
  <h1><a href="/">Sentiment Analysis</a></h1>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>
</div>

</body>
</html>
